@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="darkModeEnabled"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<PageTitle>Call Center Dashboard</PageTitle>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(e => DrawerToggle())" />
        <MudSpacer />
        @if (darkModeEnabled)
        {
            <MudIconButton Icon="@Icons.Material.Filled.WbSunny" Color="Color.Default" OnClick="SetMode"/>
        }
        else
        {
            <MudIconButton Icon="@Icons.Material.Outlined.DarkMode" Color="Color.Inherit" OnClick="SetMode"/>
        }
        <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <NavMenu DrawerOpen="drawerOpen"/>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>


@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@
@code{

    bool drawerOpen = true;
    bool darkModeEnabled;

    void SetMode()
    {
        darkModeEnabled = !darkModeEnabled;
        StateHasChanged();
    }

    void DrawerToggle()
    {
        drawerOpen = !drawerOpen;
    }
}